.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail h2{
    margin-bottom: 0;
}

.detail .container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60vw;
}

.detail .container .info{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    padding: 0 20px 0 20px;
    font-weight: bold;
}

.detail .container .info .Sinfo{
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.detail .container .content{
    padding: 20px;
    width: 90%;
    border-bottom: 1px solid #aaa;
}

.detail .buttonsC{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

.detail .button{
    cursor: pointer;
    padding: 6px 20px 6px 20px;
    background: #eee;

    display: flex;
    align-items: center;
    justify-content: center;
}